@import '@govflanders/vl-ui-design-system-style/scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Flanders Art Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
  color: #333332;
  background: #f7f9fc;
  -webkit-font-smoothing: antialiased;
}
